* {
  margin: 0;
  padding: 0;
  background-color: rgb(28, 49, 116);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  color: beige;
}

th{
  color: beige;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
  width: fit-content;
 
}

td{
  color: white;
  text-align: left;
  padding-top:1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid grey;
  width: 2rem;
}

table{
  width: 76%;
  margin-left: 8rem;
  border-collapse: separate;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#title-text {
  margin-top: 6rem;
  font-size: 4rem;
  font-style: italic;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

#fill-in-section {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: beige;
  min-width: fit-content;
}

#input-form-container{
width: 100%;
}

.buttons {
  cursor: pointer;
  font-weight: 100;
  color: rgb(59, 59, 53);
  background-color: rgb(226 233 231);
  padding: 7px;
  width: 10rem;
  width: 10%;
}

#submit-button {
  margin-top: 2rem;
  margin-left: 23rem;
  margin-right: 0.2rem;

}

#pages {
  width: 4rem;
}

#read-status {
  height: 1.5rem;
  width: 7rem;
  padding-left: 15px;
  font-size: large;
  background-color: rgb(226 233 231);
  
}

/* #read-status{
    
    
} */

#option-1 {
  color: black;
  background-color: rgb(226 233 231);  
}

#option-2 {
  color: #000000;
  background-color: rgb(226 233 231);
}

#pages {
  color: rgb(0 0 0);
  padding-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: large;
  background-color: rgb(226 233 231);
}
#author {
  color: rgb(0 0 0);
  padding-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 5px;
  background-color: rgb(226 233 231);
  font-size: large;
  /* padding-left: 40px; */
}
#title {
  color: rgb(0 0 0);
  padding-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 5px;
  font-size: large;
  background-color: rgb(226 233 231);
  /* padding-left: 40px; */
}

.normal-text{
  font-size: large;
  margin : 0 6rem;
}

#saved-book-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

